<!DOCTYPE html>
<html lang="en">
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
<head>
    <meta charset="UTF-8">
    <title>SCG Digital Office</title>
</head>
<body>
    <h1>SCG Digital Office</h1>
    <H2>Digital Intelligence Project</H2>
    <table style="width:60%">
      <tr>
        <th>Project</th>
        <th>User</th>
        <th>Detail</th>
      </tr>
      <tr>
        <td><a href="https://supply-optimization-dot-scg-cbm-do-dev-rg.appspot.com/" target="_blank">Supply Optimization</a></td>
        <td>Regional Supply Chain</td>
        <td>Optimize supply chain planning</td>
      </tr>
    </table>
</body>
</html>
